<!doctype html>
<html lang="en">

<% include components/head.ejs %>
<head>
    <title>css3照片墙</title>
</head>
<body>
<% include components/top_component.ejs %>
<h1>照片墙</h1>
<div class="second_container">
    <a href="/images/01.png"download=""><img class="photo_display" src="/images/01.png"/></a>
    <a href="/images/02.png"download=""><img class="photo_display" src="/images/02.png"/></a>
    <a href="/images/03.png"download=""><img class="photo_display" src="/images/03.png"/></a>
    <a href="/images/04.png"download=""><img class="photo_display" src="/images/04.png"/></a>
    <a href="/images/05.png"download=""><img class="photo_display" src="/images/05.png"/></a>
    <a href="/images/06.png"download=""><img class="photo_display" src="/images/06.png"/></a>
</div>
</body>
</html>