<!doctype html>
<html lang="en">

<% include components/head.ejs %>
<head>
    <title> <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css"/>
</head>

<body>
<% include components/top_component.ejs %>
<h1>我的相册</h1>
<div class="container">
    <form role="form" id="myForm" action="http://v0.api.upyun.com/xxx" method="post" enctype="multipart/form-data">

        <input type="hidden" name="policy" value="">
        <input type="hidden" name="signature" value="">

        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">上传我的照片:</label>
            <div class="col-sm-7">
                <input type="file" name="fulAvatar" id="file_upload" value=""
                       class="form-control" placeholder="图片地址" onchange="uploadByForm();">
            </div>
        </div>
    </form>
</div>
<div class="second_container" id="main">
    <div class="folder">
        <div class="front"></div>
        <div class="back"></div>
    </div>
    <% userPhotoPaths.forEach(function (userPhotoPath) { %>
    <a href="<%= userPhotoPath %>" download=""><img class="photo_display" src="<%= userPhotoPath %>"/></a>
    <% }) %>
</div>
​

<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/dragAndDropScript.js"></script>
<script type="text/javascript">

    /**
     * ajax 上传。
     */
    function uploadByForm() {
        //用form 表单直接 构造formData 对象; 就不需要下面的append 方法来为表单进行赋值了。
        var formData = new FormData($("#myForm")[0]);
        var url = "http://localhost:3000/photos/myPhotos";
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,

            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            /**
             *必须false才会自动加上正确的Content-Type
             */
            contentType: false,
            success: function (responseStr) {
//                alert(responseStr.newPath);
                location.href = "/photos/myPhotos";
            },
            error: function (responseStr) {
                alert("只能上传图片文件！");
            }
        });
    }
</script>
</body>
</html>