
.select-item{
    display: inline-flex;
    border-radius: 0px;
    min-width: 80px;
}
.select-item:hover{
    background: #33cde5;
    color: #fff;
}
.select-item.selected{
    background: #00c1de;
    color: #fff;
}

.table-text-center > thead th{
    text-align: center;
}
.table-text-center > tbody td{
    text-align: center;
}

.alert {
    bottom: -20px;
    height: 60px;
}
.alert-dismissible .close {
    top: -10px;
}

.top-margin{
    margin-top: 30px;
}
.bottom-margin{
    margin-bottom: 30px;
}

#current, .menu ul li a:hover, .menu ul>li:hover>a {
    border-bottom: 3px solid #0488cd;
}

/* content-box */
.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
    border-style: solid;
    border-width: 1px 1px 3px;
    border-color: #ddd;
    background: #fafafa;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#fafafa));
    background: -webkit-linear-gradient(top,#f8f8f8,#fafafa);
    background: -moz-linear-gradient(top,#f8f8f8,#fafafa);
    background: -ms-linear-gradient(top,#f8f8f8,#fafafa);
    background: -o-linear-gradient(top,#f8f8f8,#fafafa);
}
.author-content, div.content-box.big, #cn-tabs .service, .comment-des, .contact-box {
    border-bottom-color: #0488cd;
}
div.content-box.big {
    padding: 0 7% 30px;
    border-radius: 3px;
    background: #fff;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -o-transition: background .5s ease-in-out;
    -ms-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
}
div.content-box.big .ch-info-wrap {
    margin: -42px auto 35px;
    position: relative;
    left: auto;
    top: auto;
}
div.content-box.big div.content-box-info {
    padding-left: 0;
    margin: 25px 0 0;
}
div.content-box div.content-box-info {
    padding-left: 115px;
}

/* ch-item */
.ch-item {
    position: relative;
    cursor: default;
}
.ch-info-wrap i {
    color: #FFFFFF;
    float: left;
    font-size: 28px;
    left: 35%;
    line-height: 80px;
    position: relative;
    z-index: 5;
    text-shadow:0 3px 0 rgba(0, 0, 0, 0.1);
}
.ch-info-wrap {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #666;

    top: 10px;
    left: 10px;
}
.ch-info {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;

    -webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}
.ch-info .ch-info-front {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.ch-info .ch-info-back {
    background: #0488cd;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: inset 0 0 3px rgba(0,0, 0, 0.6);
    -moz-box-shadow: inset 0 0 3px rgba(0,0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0, 0, 0.6);

    -webkit-transition: all 0.4s ease-in-out 0.1s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.1s;
    opacity: 0;
}
.ch-item:hover .ch-info-front {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.ch-item:hover .ch-info-back {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

    opacity: 1;
    pointer-events: auto;
}


.glyphicon-menu-right {
    top: 2px;
}

blockquote {
    border-left: 5px solid #d18502;
}
blockquote > p {
    font-size: xx-large;
    color: #e76f33;
}
blockquote > footer {
    margin-top: 10px;
    padding-left: 8px;
}
a.learn-more {
    cursor: pointer;
    color: blue;
}
a.learn-more:hover {
    color: #18ba60;
}
/*div.content-box.big:hover {*/
    /*background-color: yellow;*/
/*}*/

/* tag-list */
.tag-list {
    padding: 15px;
}
.tag-list .tag-item {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.tag-list .tag-item span.glyphicon{
    font-size: 14px;
    color: #30a0e3;
}
.tag-list .tag-item span.tag-title{
    margin-left: 10px;
    color: #1f98c9;
}
.tag-list .tag-item span.tag-message{
    display: inline-block;
}

/* form-container */
.form-container {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
.form-container input{
    height: 30px;
    max-width: 200px;
}
.form-container .input-group-addon{
    width: initial;
}

.btn-green {
    background-color: #35da5e;
    color: white;
}
.btn-green:hover {
    background-color: #0cc1be;
    color: white;
}



@media (min-width: 768px){
    .dl-horizontal dt{
        width: 100px;
    }
    .dl-horizontal dd {
        margin-left: 100px;
    }
}

@media (max-width: 768px){
    .tag-list .tag-item {
        font-size: 14px;
    }
}